{% extends "partials/base.html" %}

{% block content %}
<div class="row my-4 ">
    <div class='d-flex justify-content-between'>
        <a href="{% url 'departments' %}" class='btn btn-primary'>To Departments</a>

        <a href="{% url 'products-create' %}" class='btn btn-success'>New Product</a>
    </div>
    <div class="col">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <div class='d-flex justify-content-end'>
                            <a href="{% url 'products-update' item.id %}" class='btn btn-info text-white mx-2'>Edit</a>
                            <a href="{% url 'products-delete' item.id %}" class='btn btn-danger text-white'>Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}