{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Edit Item</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between">
                <a class="btn btn-secondary " href="{% url 'products-products' %}">Cancel</a>
                <input class="btn btn-primary " type="submit" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
